<div class="row align-items-center">
  <div class="col">
    <h4>会員一覧</h4>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
      </tr>
    </thead>
      <tr>
        <td><%= @member.id %></td>
        <td><%= @member.name %></td>
        <td><%= @member.email %></td>
      </tr>
  </table>
  
</div>