<%= form_with(model: @comment, url: member_facility_comment_path(@comment), method: :patch, local: true) do |f| %>
  <strong>コメントを編集する</strong>
  <div>
    <%= f.text_field :body, class: "form-control form-control-sm" %>
  </div>
  <div>
    <div>
      <%= f.submit '更新する', class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= link_to '削除する', member_facility_comment_path(@facility, @comment), method: :delete, data: { confirm: '本当に削除しますか?' }, class: 'btn btn-danger' %>