<div class="container">
    <div class="text-center">
      <div class="animated-text">more kind</div>
      <h1 class="display-1">About</h1>
      <p>このプラットフォームでは、利用者が実際に訪れた施設のバリアフリーやアクセシビリティに関する情報を共有し、<br>
        他のユーザーと口コミを通じて役立つ情報を交換することが出来ます。<br>
        誰もが平等に、快適に過ごせる場所を見つけるために、皆様の声を集めています。<br>
        リアルな体験をぜひ共有してください。
      </p>
    </div>
  </div>
</div>