<div class="container mt-4">

    <div class="col-12 col-md-9 d-flex flex-column align-items-center justify-content-center welcome-container">
      <div class="welcome-text mt-4 mb-4" >
        <p>
          みんなにやさしい、使いやすい場所を見つけよう<br>
          車いすやベビーカーを利用する方々が快適に過ごせる施設を見つけ、共有するためのサイトです。<br>
          あなたの体験をシェアして、誰もが安心して外出できる社会を一緒に作りましょう。
        </p>
    <div>
      <%= form_tag search_member_facilities_path, method: :get do %>
        <%= text_field_tag :keyword, params[:keyword], placeholder: '施設名で検索' %>
        <%= submit_tag '検索', name: nil %>
      <% end %>
    </div>
      </div>
    </div>
  </div>