@use '~bootstrap/scss/bootstrap';
@import "facilities";
@import "homes";
@import "member";
@import "responsive";

:root {
  --primary-color: #d3381c;
  --text-color: #333;
  --background-color: #fff;
  --hover-color: #d3381c;
}

.container {
  margin-top: 200px;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #d3381c;
  transition: color 0.3s ease;
}

a:focus, 
button:focus, 
input:focus, 
textarea:focus, 
select:focus, 
.card-index:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.header {
  background-color: #fdeff2;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
}

.header.hidden {
  transform: translateY(-100%);
}

.navbar-toggler-icon {
  background-color: var(--primary-color);
  width: 30px;
  height: 3px;
  display: block;
  margin: 5px 0;
}

.navbar-collapse.collapse.show {
  background-color: #fdeff2; /* ハンバーガーメニュー開いた時の背景色 */
}

.flash-messages {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.flash-message {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  white-space: nowrap;
}

.footer {
  text-align: center;
  padding-top: 20px;
  width: 100%;
}

.background-image {
  background-image: url('../images/top_image.jpg');
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding: 20px;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-border,
.edit-submit {
  border: 2px solid #d3381c;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  color: #d3381c;
  position: relative;
}

.btn-border:before,
.edit-submit:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #d3381c;
}

.btn-border:hover,
.edit-submit:hover {
  color: #fff;
  background: #d3381c;
}

.btn-border:hover:before,
.edit-submit:hover:before {
  background: #fff;
}

.tag-link {
  border: 2px solid #7a4171;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  color: #7a4171;
  position: relative;
}

.tag-link:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  content: '';
  -webkit-transition: all .3s;
  transition: all .3s;
  background: #7a4171;
}

.tag-link:hover {
  color: #fff;
  background: #7a4171;
}

.tag-link:hover:before {
  background: #fff;
}

.btn-delete {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #d3381c;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  border: 1px solid #fff;
}

.btn-delete:hover {
  background-color: #fff;
  color: #d3381c;
  border: 1px solid #d3381c;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.pagination .page-link {
  font-size: 4rem;
}

.pagination .page-item {
  margin: 0 10px !important;
}