@use '~bootstrap/scss/bootstrap';
@import "facilities";

.header {
  background-color: #e9dfe5;
  width: auto;
}

.background-image {
  background-image: url(../images/top_image.jpg);
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

.btn-outline {
  border-color: #c97586;
  color: #c97586;
}