<div class="container mt-4">
  <div class="col-12 col-md-9 d-flex flex-column align-items-center justify-content-center welcome-container">
    <div class="welcome-text mt-4 mb-4">
      <%= form_with model: @facility, url: member_facilities_path do |f| %>
        <%= render 'form', f: f %>
      <% end %>
    </div>
  </div>
</div>